.input {
    &--alert {
        animation: alert 0.9s alternate;

        &::placeholder {
            color: red;
        }
    }
}

@keyframes alert {
    from {
        border-color: red;
    }

    to {
        border-color: $cream;
    }
}