@import "./Utills/index";
@import "./Module/index";
@import "./state/index";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.header {
    width: 50%;
    position: relative;
    margin: 1rem 0;
}