.input {
    border-radius: 5px;
    padding: 1rem 0.9rem;
    border: 2px solid $cream;
    width: 100%;
    font-size: 1.1rem;

    &::placeholder {
        color: $grey;
        transition: 0.3s;
    }


}