.todo {
    border: 2px solid $lightPink;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin: 1rem 0;
    opacity: 0;
    animation: itemFade 0.3s forwards;

    &:hover &__controller {
        p {
            opacity: 1;
        }
    }

    &__controller {
        display: flex;
        font-size: 1.4rem;
        user-select: none;

        p {
            cursor: pointer;
            margin: 0 0.5rem;
            padding: 0.5rem;
            transition: 0.3s ease-in-out;
            opacity: 0.2;
            filter: contrast(0.5);

            &:hover {
                text-shadow: 0 0 20px $pink;
                filter: contrast(1);
            }

            &:last-child {
                &:hover {
                    transform: rotate(-45deg);
                }
            }

            &:first-child {
                &:hover {
                    transform: translateX(-5px);
                }
            }
        }
    }
}

@keyframes itemFade {
    to {
        opacity: 1;
    }
}